{% extends 'layouts.layout' %}

{% block content %}

    <div class="container Paper">

        <div class="Paper__Header">
            <h1>{{ paper.title }}</h1>
            <h2>{{ paper.subtitle }}</h2>
        </div>

        <paper-resources></paper-resources>

        <p class="Paper__Permalink">
            This internet source's gateway slug is "{{ paper.public_id }}", you might cite this with its permalink:
            <strong>{{ route('paper',paper.public_id) }}</strong>
        </p>

    </div>

{% endblock %}

{% block js %}
    <script>
        var resources = {{ paper.resource|raw }};
    </script>
{% endblock %}