<p>Hi,</p>

<p>a resource@paperGateway may be offline.</p>

<p>Resource:<br> {{ data.url }} </p>
<p>ResourceId: {{ data.id }} </p>
<p>in Paper:<br> {{ data.paper.title }}</p>
<p>PaperId: {{ data.paper.id }} / {{ data.paper.public_id }}</p>


-- Please have a look at this soon.